<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.cdc.pttadvisor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name" >
        <activity
            android:name="gov.cdc.pttadvisor.MainView"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gov.cdc.pttadvisor.RestartDialog"
            android:label="restartdialog" 
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="gov.cdc.pttadvisor.InfoView"
            android:label="@string/title_activity_info_view" 
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="gov.cdc.pttadvisor.HistoryView"
            android:label="History" 
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="gov.cdc.pttadvisor.HelpView"
            android:label="@string/title_activity_help_view"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" />
		<activity
            android:name="gov.cdc.pttadvisor.FootnotesView"
            android:label="@string/title_activity_footnotes_view"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>